{% extends "base.html" %}

{% block title %}
  Analysis
{% endblock %}

{% block body %}

  <!--iframe src="./umap?samp={{sample_name}}&ref={{reference_name}}" title="{{sample_name}}" id="umap_frame"
  width="1800px" height="900px">
  </iframe-->

  <div class="radio" id="umap_radio">
    <input type="radio" id="choice_all" name="display_type" value="all" checked="checked">
    <label for="choice_all">All</label>

    <input type="radio" id="choice_cu" name="display_type" value="cu">
    <label for="choice_cu">Close-up</label>
  </div>

  <div class="loader" id="loader"></div>
  <div id="umap_all"></div>
  <div id="umap_cu"></div>


<script>
  function renderPlot(plotJSON, plotId){
    var config = {"scrollZoom": true};
    Plotly.setPlotConfig(config);
    Plotly.newPlot(plotId, plotJSON, {});
    Plotly.relayout(plotId, {height: "800", width: "1580"})
  }
</script>
<script>
  /*Load umap Plot on startup.*/
  var umapAll;
  var umapCloseUp;
  $(document).ready(function(){
    {% if first_use %}
    alert("Binary reference data has not been created yet. Takes several minutes.")
    {% endif %}
    $.ajax({
      url: "{{url_umap}}",
      type: "GET",
      contentType: "application/json;charset=UTF-8",
      data: {
        "samp": "{{sample_name}}",
        "ref": "{{reference_name}}",
        "close_up": "",
        "new": "{{new}}",
      },
      dataType:"json",
      success: function (data) {
        umapAll = data;
        document.getElementById("loader").style.display = "none";
        renderPlot(data, "umap_all");
        $.ajax({
          url: "{{url_umap}}",
          type: "GET",
          contentType: "application/json;charset=UTF-8",
          data: {
            "samp": "{{sample_name}}",
            "ref": "{{reference_name}}",
            "close_up": "True",
            "new": "False",
          },
          dataType:"json",
          success: function (data) {
            umapCloseUp = data;
            renderPlot(data, "umap_cu");
          }
        });
      }
    });
  })
</script>

<script>
  $(document).ready(function(){
    $('#umap_cu').hide();
    $('#umap_all').show();
    $("#umap_radio input:radio").change(function(){
      if ($(this).val() == "all") {
        $('#umap_cu').hide()
        $('#umap_all').show()
        console.log("all");
      }
      else if ($(this).val() == "cu") {
        $('#umap_all').hide()
        $('#umap_cu').show()
        console.log("cu");
      }
    });
  });
</script>

{% endblock %}
