{% extends "base.html" %}

{% block title %}
  Analysis
{% endblock %}

{% block body %}
<table class="analysis">
  <thead>
    <tr>
      <th><b>Sample ID </b></th>
      <th><b>CpGs</b></th>
      <th><b>CNV</b></th>
      {% for a in annotations %}
      <th><b>UMAP against<br>{{a}}</b></th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for run in analysis_runs %}
    <tr>
      <td>{{run}}</td>
      <td>
        <a href="{{url_cpgs[run]}}" class="show" target="_blank"
        rel="noopener noreferrer" title="{{run}}: CpGs">
          get CpGs
        </a>
      </td>
      <td>
        <a href="{{url_cnv_new[run]}}" class="show" target="_blank" rel="noopener noreferrer"
        title="make new CNV plot">
          new plot
        </a>
        <a href="{{url_cnv[run]}}" class="show" target="_blank" rel="noopener noreferrer" title="make CNV plot (read from disk if available)">
          plot
        </a>
      </td>

      {% for a in annotations %}
      <td>
        <a href="{{url_umap_new[(run, a)]}}" class="show" target="_blank" rel="noopener noreferrer" title="make UMAP plot">
          new plot
        </a>&nbsp;
        <a href="{{url_umap[(run, a)]}}" class="show" target="_blank" rel="noopener noreferrer" title="make UMAP plot (read from disk if available)">
          plot
        </a>&nbsp;
        <a href="{{url_clf[(run, a)]}}" class="show" target="_blank" rel="noopener noreferrer" title="Start methylation classification using non-supervised classifiers.">
          classify
        </a>&nbsp;
        <a href="{{url_pdf[(run, a)]}}" class="show" target="_blank" rel="noopener noreferrer" title="Generate and View PDF">
          report
        </a>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
