{% extends "base.html" %}

{% block title %}
  Analysis
{% endblock %}

{% block body %}
  <div id="genes" class="hidden">
    <label for="genome_genes">Choose Gene:</label>
    <input list="genome_genes" id="gene_list" name="gene_list" />
    <datalist id="genome_genes">
      {% for gene in genes %}
        <option value="{{gene}}">
      {% endfor %}
    </datalist>
  <button id="reset_button" type="reset">Reset</button>
  </div>


  <div class="loader" id="loader"></div>
  <div id="cnv"></div>

<script>
  function renderPlot(plotJSON, plotId){
    Plotly.setPlotConfig({"scrollZoom": true});
    Plotly.plot(plotId, plotJSON,{});
    Plotly.relayout(plotId, {height: "800", width: "1580"});
  }

  function renderNewPlot(plotJSON, plotId){
    Plotly.setPlotConfig({"scrollZoom": true});
    Plotly.newPlot(plotId, plotJSON,{});
    Plotly.relayout(plotId, {height: "800", width: "1580"});
  }

  var plotData;

  $(document).ready(function(){
    // Random identifier for this page. Helps back-end to send correct data.
    browserTabId = Date.now() + "{{sample_name}}" + Math.random().toString(36).substr(2,11);

    /*Load CNV Plot on startup.*/
    $.ajax({
      url: "{{url_cnv}}",
      type: "GET",
      contentType: "application/json;charset=UTF-8",
      data: {
        "sample_name": "{{sample_name}}",
        "genes": "",
        "new": "{{new}}",
        "browser_tab_id": browserTabId,
      },
      dataType:"json",
      success: function (data) {
        // Deep copy of data.
        plotData = JSON.parse(JSON.stringify(data));
        document.getElementById("loader").style.display = "none";
        renderPlot(data, "cnv");
        $("#genes").show();
      },
      error: function() {
        document.getElementById("loader").style.display = "none";
        $("#cnv").html("No Data to plot.");
        $("#genes").hide();
      },
    });

    /*Reload CNV Plot when genes are chosen.*/
    $("#gene_list").on("change",function(){
      $.ajax({
        url: "{{url_cnv}}",
        type: "GET",
        contentType: "application/json;charset=UTF-8",
        data: {
          "sample_name": "{{sample_name}}",
          "genes": document.getElementById("gene_list").value,
          "new": "False",
          "browser_tab_id": browserTabId,
        },
        dataType:"json",
        success: function (data) {
          document.getElementById("gene_list").value = "";
          renderPlot(data, "cnv");
        }
      });
    });

    /*Remove genes from plot.*/
    $("#reset_button").click(function(){
      renderNewPlot(plotData, "cnv");
    });

  });
</script>

{% endblock %}
