{% extends "base.html" %}

{% block title %}
  Analysis
{% endblock %}

{% block body %}

  <label for="genome_genes">Choose Gene:</label>
  <input list="genome_genes" id="gene_list" name="gene_list" />
  <datalist id="genome_genes">
    {% for gene in genes %}
      <option value="{{gene}}">
    {% endfor %}
  </datalist>

  <label for="genome_genes">Choose Gene:</label>
  <input list="genome_genes" id="gene_list2" name="gene_list" />
  <datalist id="genome_genes">
    {% for gene in genes %}
      <option value="{{gene}}">
    {% endfor %}
  </datalist>

  <div class="loader" id="loader"></div>
  <div id="cnv"></div>

<script>
  function renderPlot(plotJSON, plotId){
    var config = {"scrollZoom": true};
    Plotly.setPlotConfig(config);
    Plotly.plot(plotId, plotJSON,{});
    /*Plotly.newPlot("cnv", plotJSON,{});*/
  }
</script>
<script>
  /*Load CNV Plot with bins method on startup.*/
  var cnvPlotBins;
  $(document).ready(function(){
      $.ajax({
          url: "{{url_cnv}}",
          type: "GET",
          contentType: "application/json;charset=UTF-8",
          data: {
            "samp": "{{sample_name}}",
            "genes": "",
            "new": "{{new}}",
          },
          dataType:"json",
          success: function (data) {
              cnvPlotBins = data;
              document.getElementById("loader").style.display = "none";
              renderPlot(data, "cnv");
          }
      });
  })
  /*Reload CNV Plot when genes are chosen.*/
  $("#gene_list").on("change",function(){
      $.ajax({
          url: "{{url_cnv}}",
          type: "GET",
          contentType: "application/json;charset=UTF-8",
          data: {
            "samp": "{{sample_name}}",
            "genes": document.getElementById("gene_list").value,
            "new": "False",
          },
          dataType:"json",
          success: function (data) {
              renderPlot(data, "cnv");
          }
      });
  })
</script>

{% endblock %}
