<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="static/style.css">
  {% block head %}{% endblock %}
  <script src="static/js/jquery-1.11.1.min.js"></script>
  <script src="static/js/plotly-latest.min.js"></script>
</head>

<body>
  <nav id="navbar">
    <div class="logo">
      <img src="static/img/logo.svg" width="40px" height="40px">
    </div>
    <ul class="nav_menu">
      <li>
        <a href="/" title="General system information">Overview</a>
      </li>
      <li>
        <a href="/status" title="Live status of all connected Mk1b devices">Status</a>
      </li>
      <li>
        <a href="/start" title="Start a sequencing run on an idle Mk1b device">Start Run</a>
      </li>
      <li>
        <a href="/start_test" title="Start a test seq. run on an idle Mk1b device to verify that the previous flow cell wash was successful.">Start Test</a>
      </li>
      <li>
        <a href="/list_runs" title="List all buffered runs. Will be purged upon MinKNOW backend restart.">List Runs</a>
      </li>
      <li>
        <a href="/results" title="List all completed analysis results">Results</a>
      </li>
      <li>
        <a href="/analysis" title="Launch data analyses manually, e.g. for retrospective analysis">Analysis</a>
      </li>
      <li>
        <a href="/epidip_report" title="Generate report PDFs for EpiDiP cases">EpiDiP report</a>
      </li>
      <li>
        <a href="/epidip_umap" title="Generate UMAP for EpiDi EpiDiP cases">EpiDiP UMAP</a>
      </li>
      <li>
        <a href="/about" title="Version, etc.">About</a>
      </li>
    </ul>
  </nav>

  <div class="content">
    {% block body %}{% endblock %}
  </div>

  <script>
    // Mark the currently opened page with the CSS tag "current".
    navBar = document.getElementById("navbar")
    var current;
    for (var i = 0; i < document.links.length; i++) {
      link = document.links[i];
      if ((navBar.contains(link)) && (document.URL.includes(link))) {
        current = link;
      }
    }
    current.className = "current";
  </script>
</body>

</html>
