{% extends "base.html" %}

{% block title %}
  Epidip Report
{% endblock %}

{% block body %}
  <!-- EpiDiP report for {{sentrix_id}} with {{reference_umap}} -->
  <hr>
  <form action="epidip_report" method="GET">
  &nbsp;
  <input type="text" name="sentrix_id" />
  &nbsp;
  UMAP coordinates&nbsp;<select name="reference_umap" id="reference_umap">
    {% for u in epidip_umaps %}
    <option value="{{u}}">{{u}}</option>
    {% endfor %}
  </select>
  &nbsp;
  Reference set
  &nbsp;
  <select name="reference_id" id="reference_id">
    {% for ref in references %}
    <option value="{{ref}}">{{ref}}</option>
    {% endfor %}
      &nbsp;
      <input type="submit" value="generate report"/></form>
{% endblock %}
