{% extends "base.html" %}

{% block title %}
  Overview
{% endblock %}

{% block body %}
    <b>Computer: </b>{{ sys_stat.hostname }}<br><br>
    <b>SSD or HDD usage</b><br>
    Total: {{ sys_stat.disk_total }} GB<br>
    Used : {{ sys_stat.disk_used }} GB<br>
    Free : {{ sys_stat.disk_free }} GB<br>
    <br><b>Memory</b><br>
    free : {{ sys_stat.memory_free }}&percnt;<br>
    <br><b>CPU: </b><br>
    usage: {{ sys_stat.cpu }}&percnt;<br>
    CpG active runs: {{ sys_stat.cpgs }} <a href="reset_queue?queue_name=cpg">reset queue</a><br>
    CNVP active runs: {{ sys_stat.cnvp }} <a href="reset_queue?queue_name=cnvp">reset queue</a><br>
    UMAP active runs: {{ sys_stat.umap}} <a href="reset_queue?queue_name=umap">reset queue</a><br>
    <br><br>
    <a href="restart" class="show">Restart NanoDiP</a> <font color="#FF0000"><b>Use with caution!</b></font>
{% endblock %}
