{% extends "base.html" %}

{% block title %}
  List Runs
{% endblock %}

{% block body %}

Running and buffered experiments:<br>

<b>Host: {{host}}</b><br>
<table border="1">
  <tr>
    {% for d in device_names %}
    <td valign="top">
      <div class="mono">
        <b>-{{d}}</b><br>
        --mounted flow cell ID: <b>{{mounted_flow_cell_id[d]}}</b><br>
        ---{{current_status[d]}}<br>
        {% for i in run_ids[d] %}
        --run ID: {{i}}<br>
        ---with flow cell ID: {{flow_cell[(d, i)]}}<br>
        {% endfor %}
      </div>
    </td>
    {% endfor %}
  </tr>
</table>

{% endblock %}
