{% extends "base.html" %}

{% block title %}
  Status
{% endblock %}

{% block body %}

{% for device in device_ids %}

  <div id="{{device}}_status" class="device_box">
    <div id="{{device}}_device" class="preview_element"></div>
    <div id="{{device}}_plots" class="preview_element"></div>
  </div>
{% endfor %}

  <script>
    function refreshDeviceStatus(deviceId) {
      $.ajax({
        url: "{{url_live_device_status}}",
        type: "GET",
        contentType: "application/json;charset=UTF-8",
        data: {
          "device_id": deviceId,
        },
        dataType:"html",
        success: function (data) {
          $("#" + deviceId + "_device").html(data);
          setDeviceBoxColor(deviceId, data);
        }
      });
    }
    function refreshPreviewPlots(deviceId) {
      $.ajax({
        url: "{{url_live_plots}}",
        type: "GET",
        contentType: "application/json;charset=UTF-8",
        data: {
          "device_id": deviceId,
        },
        dataType:"html",
        success: function (data) {
          $("#" + deviceId + "_plots").html(data);
        }
      });
    }
    // TODO
    function methylationCaller() {
      $.ajax({
        url: "{{url_live_plots}}",
        type: "GET",
        contentType: "application/json;charset=UTF-8",
        data: {
          "device_id": deviceId,
        },
        dataType:"html",
        success: function (data) {
          $("#" + deviceId + "_plots").html(data);
        }
      });
    }
    function setDeviceBoxColor(deviceId, htmlString) {
      // Check if string "PROCESSING" is contained in HTML and set
      // background color accordingly.
      if (htmlString.indexOf("PROCESSING") !== -1) {
        $("#" + deviceId + "_status").addClass("device_box_active");
      }
      else {
        $("#" + deviceId + "_status").removeClass("device_box_active");
      }
    }
    /* Refresh the device status and preview plots every 3 seconds. */
    $(document).ready(function() {
      var refreshPage = function() {
        for (deviceId of {{device_ids}}) {
          refreshDeviceStatus(deviceId);
          refreshPreviewPlots(deviceId);
        }
        setTimeout(refreshPage, 3000);
      };
      refreshPage();
    })
  </script>

{% endblock %}
