<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Methylation caller</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="static/js/jquery-latest.min.js"></script>
</head>

<body>

  {% if previous_activity %}
  <b>{{device_id}}: {{flow_cell_id}}</b>
  <br>
  <div class="mono">
    {% for key, val in status.items() %}
    {{key}}: {{val}}
    <br>
    {% endfor %}
  {% else %}
    <br> No previous device activity, information will appear as soon as the device
    has been running once in this session.
    <br>
  {% endif %}

    Sample ID: {{sample_id}}
    <br>
    {{state}}
    <br>
    {{yield_}}
  </div>

  {% if is_active %}
  <br>
  <div class="radio_device" id="{{device_id}}_live_status">
    Auto terminator:

    <label class="switch" title="Automatically stop after {{needed_mega_bases}} MB">
      <input type="checkbox" {% if termination_type == "auto" %} checked {% endif %} onclick="toggleTerminationStatus(this, false)">
      <span class="slider"></span>
    </label>

    <div class="right_align">
      <a class="show" onclick="toggleTerminationStatus(this, true)" title="Terminate now">stop</a>
    </div>

  </div>
  {% endif %}

  <script>
    function toggleTerminationStatus(cb, terminateNow) {
      var device_id = "{{device_id}}";
      var checked = cb.checked;
      var termination_type = terminateNow ? "terminated" : (
        checked ? "auto" : "manually" );
      $.ajax({
        url: "{{url_auto_terminator}}",
        type: "GET",
        contentType: "application/json;charset=UTF-8",
        data: {
          "device_id": device_id,
          "termination_type": termination_type,
        },
        dataType: "html",
        success: function (data) {
          console.log("Auto terminator of " + device_id + " set to " + termination_type)
        }
      });
    }
    // Auto-terminator
    function setAutoTerminate(deviceId, value) {
      $.ajax({
        url: "{{url_auto_terminator}}",
        type: "GET",
        contentType: "application/json;charset=UTF-8",
        data: {
          "device_id": deviceId,
          "termination_type": value,
        },
        dataType: "html",
        success: function (data) {
          console.log("Auto terminator of " + deviceId + " set to " + value)
        }
      });
    }
    $(document).ready(function() {
      $("#{{device_id}}_live_status input:radio").change(function(){
        if ($(this).val() == "button_auto") {
          setAutoTerminate("{{device_id}}", "auto");
        }
        else if ($(this).val() == "button_manually") {
          setAutoTerminate("{{device_id}}", "manually");
        }
        else if ($(this).val() == "button_terminated") {
          $("#{{device_id}}_live_status").hide();
          setAutoTerminate("{{device_id}}", "terminated");
        }
      });
      {% if termination_type == "auto" %}
      $("#terminator_on").prop("checked", true);
      {% elif termination_type == "manually" %}
      $("#terminator_manually").prop("checked", true);
      {% elif termination_type == "terminated" %}
      $("#{{device_id}}_live_status").hide();
      {% endif %}
    })
  </script>

</body>
</html>
