<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="">
  <title>Live plots</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="mono">
    Sample ID: {{sample_id}} with reference {{reference}}
    <br>
    <br>
    <div class="plot_preview_row">
      <a href="{{cnv_plt_path_html}}" target="_blank">
        <img class="plot_preview"  src="{{cnv_plt_path_png}}" onerror="this.onerror=null; this.remove();">
      </a>
      <a href="{{umap_plt_path_html}}" target="_blank">
        <img class="plot_preview" align="Top" src="{{umap_plt_path_png}}" onerror="this.onerror=null; this.remove();">
      </a>
    </div>
  </div>
</body>

</html>
