<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Status samples</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="static/js/jquery-latest.min.js"></script>
</head>

<body>

<table class="analysis">
  <thead>
    <tr>
      <th><b>Sample ID </b></th>
      <th><b>Methylation calling</b></th>
      <th><b>Progress</b></th>
      <th><b>Status</b></th>
    </tr>
  </thead>

  <tbody>
    {% for run in analysis_runs %}
    <tr>
      <td>{{run}}</td>
      <td>
        <label class="switch" title="turn on methylation calling">
          <input type="checkbox" {% if start_calling[run] %} checked {% endif %} id="{{run}}" onclick="toggleMCActivity(this)">
          <span class="slider"></span>
        </label>
      </td>
      <td>
        <div id="{{run}}_prog">{{progress[run]}}</div>
      </td>
      <td>
        <div id="{{run}}_status">{{status[run]}}</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  <script>
    function toggleMCActivity(cb) {
      var sample_id = cb.id;
      var checked = cb.checked;
      $.ajax({
        url: "{{url_status_samples}}",
        type: "GET",
        contentType: "application/json;charset=UTF-8",
        data: {
          "sample_id": sample_id,
          "start_calling": checked,
        },
        dataType:"html",
        success: function (data) {
          console.log(sample_id + " changed methylation activity to " + checked);
        }
      });
    }
  </script>

</body>
</html>
