* {
  font-family: Helvetica, sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  background-color: #212121;
  align-items: center;
  padding-left: 100px;
  padding-right: 50px;
}

.logo {
  padding-top: 5px;
}

#logo_text {
  color: #fff;
}

.nav_menu {
  display: flex;
}

.nav_menu li {
  list-style: none;
  margin: 8pt;
}

.nav_menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav a::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 5px;
  width: 0%;
  transition: ease 250ms;
}

nav a:hover::after {
  width: 100%;
}

nav a:focus::after {
  width: 100%;
}

nav a:active::after {
  width: 100%;
}

.current::after {
  width: 100%;
}

.content {
  padding-left: 100px;
  padding-right: 50px;
  padding-top: 50px;
}

table.analysis {
  border-collapse: collapse;
  margin: 25px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  white-space: nowrap;
}

table.analysis thead tr {
  background-color: #009879;
  text-align: left;
  color: #ffffff;
}

table.analysis th,
table.analysis td {
  padding: 10px 15px;
}

table.analysis tbody tr {
  border-bottom: 1px solid #dddddd;
}

table.analysis tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table.analysis tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

table.analysis tbody td:nth-child(1) {
  font-family: monospace;
  font-size: 12pt;
}

#cnv_frame {
  width: 1750px;
  height: 950px;
  border: solid #f3f3f3 2px;
}

a.show {
  display: inline-block;
  background-color: #f44336;
  color: #FFFFFF;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  opacity: 0.9;
}

a.show:hover {
  background-color: #c3352b;
}

a.results {
  text-decoration: none;
  color: #00f;
  font-family: monospace;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #009879;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 45%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mono,
.mono b {
  font-family: monospace;
  /*font-family: "Lucida Console", "Courier New", monospace;*/
}

div.device_box {
  display: flex;
  /*height: 220px;*/
  /*width: 600px;*/
  background-color: #f3f3f3;
  padding: 5px;
}

.preview_element {
  height: 270px;
  flex: 1;
  border: 0px;
}

img.plot_preview {
  width: 350px;
  height: 230px;
}

.plot_preview_row {
  display: flex;
  justify-content:space-evenly;
}
