{% extends "base.html" %}

{% block title %}
  {{sample_name}}
{% endblock %}

{% block body %}

  <meta http-equiv="refresh" content="" URL="reports/{{sample_name}}_CNVplot.html">
    Loading CNV plot. If it fails,
  <a href="reports/{{sample_name}}_CNVplot.html">
    click here to load plot
  </a>

  <div id='cnv'></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script>
  var graphs = {{graph_json | safe}};
  var config = {"scrollZoom": true};
  Plotly.setPlotConfig(config);
  Plotly.plot('cnv',graphs,{});
</script>

{% endblock %}


  <!--iframe src="./cnv?samp={{sample_name}}" title="{{sample_name}}" id="cnv_frame">
  </iframe-->


  <input class="awesomplete" data-list="Ada, Java, JavaScript, Brainfuck, LOLCODE, Node.js, Ruby on Rails" />
  <form name="gene_dropdown" action="/getLigand" method="POST">
    <label for="gene_form">Choose gene</label>
    <select name="genes", id="genes">
      {% for gene in genes %}
      <option value="{{ gene }}">{{ gene }}</option>
      {% endfor %}
    </select>
  </form>
<script>
  /*Reload CNV Plot when genes are chosen.*/
  $('#genes').on('change',function(){
      $.ajax({
          url: "/cnv",
          type: "GET",
          contentType: 'application/json;charset=UTF-8',
          data: {
            'samp': '{{sample_name}}',
            'genes': document.getElementById('genes').value
          },
          dataType:"json",
          success: function (data) {
              renderCNVPlot(data);
          }
      });
  })
</script>





<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ sample_name }}</title>
</head>

<body>

  <div id='cnv'></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script>
  var plotJSON = {{plot_json | safe}};
  var config = {"scrollZoom": true};
  Plotly.setPlotConfig(config);
  Plotly.plot('cnv', plotJSON,{});
</script>

</body>

</html>
