<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{sample_name}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
  <h1>{{sample_name}}</h1><br>
  <table border=0 class="analysis">
    <thead>
      <tr>
        <th><b>Methylation Class</b></th>
        <th><b>Distance</b></th>
        <th><b>sentrix_ID</b></th>
      </tr>
    </thead>

    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{row["methylation_class"]}}</td>
        <td>{{row["distance"]}}</td>
        <td>{{row["id"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
