{% extends "base.html" %}

{% block title %}
  List Runs
{% endblock %}

{% block body %}


Running and buffered experiments:<br>

<b>Host: {{host}}</b><br>
<table border='1'>
  <tr>
    {% for p in positions %}
    <td valign='top'>
    <tt>
      <b>-{{p}}</b><br>
      --mounted flow cell ID: <b>{{mounted_flow_cell_id[p]}}</b><br>
      ---{{current_status[p]}}<br>
      {% for b in buffered_run_ids[p] %}
      --run ID: {{b}}<br>
      ---with flow cell ID: {{flow_cell_id[(p, b)]}}<br>
      {% endfor %}
    </tt>
    </td>
    {% endfor %}
  </tr>
</table>


{% endblock %}
