{% extends "base.html" %}

{% block title %}
  Start Run
{% endblock %}

{% block body %}


{% if start_now %}

Sequencing run started for {{sample_id}} on {{device_id}} as {{run_id}} with reference {{reference_id}}

  <hr>
    {{run_info}}
  <hr>
  <a href="launchAutoTerminator?sampleName={{sample_id}}&deviceString={{device_id}}">
    Click this link to launch automatic run terminator after {{mega_bases}} MB.
  </a>

  If you do not start the run terminator, you will have to terminate the run manually, or it will stop after the predefined time.

{% else %}

  <form action="start" method="GET">
    Select an idle Mk1b:&nbsp;

    <select name="device_id" id="device_id">
      {% for pos in idle %}
      <option value="{pos}">
        {{pos}}:{{getFlowCellID(pos)}}
      </option>
      {% endfor %}
    </select>
    &nbsp;

    {% if test %}
      <input type="submit" value="start test run now (0.1h)"/>
    {% else %}
      and enter the sample ID:&nbsp;

      <input type="text" name="sample_id" />
      &nbsp;for&nbsp;

      <input type="text" name="run_duration" value="72" />
        &nbsp;hours.
        &nbsp;Reference set&nbsp;
        <select name="reference_id" id="reference_id">
          {% for ref in references %}
          <option value="{{ref}}">{{ref}}</option>
          {% endfor %}
        &nbsp;
      <input type="submit" value="start sequencing now"/>
    {% endif %}
  </form>

{% endif %}

{% endblock %}
